/* VARIABLES */
:root{
    --main-color:#90ad75;
    --black:#13131a;
    --black-fade: #00000070;
    --white: #fff;
    --bg:#030200;
    --orange-erbaut:#f17c08;
    --blue-erbaut: #0191b6;
    --border:.1rem solid rgba(255,255,255,.3);
}

/* RESET */
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--white);
    border-radius: 5rem;
}

body{
    background-color: #13131a;
    /* background-image: url('../images/insta-bg.jpg'); */
}

.header{ 
    position: fixed;
    width: 100%;
    top: 0; right: 0; left: 0;
    background-color: var(--orange-erbaut);

}
.main-navbar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.01rem;
    height: 10px;
    z-index: -1000;
}

.main-navbar a{
    margin: 0 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #13131a;
}

.navbar-inferi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bg);
    font-size: 2rem;
    /* display: none;                                     REMOVER DEPOIS */

}

.home{
    min-height: 99vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    /* display: none;                                     REMOVER DEPOIS */
}

.home .content{
    background-color: var(--black-fade);
    max-width: 100rem;
    text-align: center;
    padding: 20px;
    border-radius: 1%;
}

.home .content h3{
    font-size: 6rem;
    text-transform: none;
    color:var(--white);
    
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:var(--white);    
    text-transform: none;
}

.home a{
    background-color: var(--blue-erbaut);
    border-radius: 5%;
    color: var(--white);
}

#header{
    z-index: 1000;
}

.solutions{
    text-align: center;
    margin-top: 5%;
    /* display: none;                                                REMOVER DEPOIS */
}

.solutions .solutions-text{
    font-family: Arial, Helvetica, sans-serif;
}

.solutions .solutions-text h3{
    font-weight: 700;
    font-size: 35px;    
    text-transform: uppercase;
}

.solutions .solutions-text p,
.solutions .solutions-text b{
    text-transform: none;
    font-size: 18px;
}

.solutions .box-container{
    display: inline-flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin: 50px;
}

.solutions .box-container .box{
    height: 500px;
    width: 350px;
    text-align: center;
    border:var(--border);
    padding: 5rem;
    background-color: var(--blue-erbaut);
    border-radius: 5%;
    border-color: var(--black-fade);
}

.solutions .box-container .box .image{
    padding: .5rem 0;
}

.solutions .box-container .box .image img{
    height: 15rem;
}

.solutions .box-container .box .content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.solutions .box-container .box .content h3{
    color: var(--white);
    font-size: 2.5rem;
}

.solutions .box-container .box .content .list{
    color: var(--black);
    font-size: 1.7rem;
    text-align: left;
    margin-top: 15px;
}

.solutions .box-container .box .content .list li{
    text-transform: none;
    list-style: none;
}

.solutions .box-container .box .box-footer{
    margin-top: auto;
}
.solutions .box-container .box .box-footer a{
    margin-top: 0;
    background-color: var(--orange-erbaut);
    color: var(--black);
    border-radius: 10px 40px 40px ;
    text-transform: uppercase;
    font-size: 1.4rem;
    width: 100%;
}

.solutions .box-container .box .box-footer a:hover{
    background-color: var(--black-fade);
    color: var(--white);
}

.instagram{
    position: relative;
    /* display: none;                                                REMOVER DEPOIS */
}

.instagram .text-content{
    position: absolute;
    text-align: left;
    color: var(--white);
    width: 30%;
    top: 35%;
    left: 15%;
}

.instagram .text-content a{
    background-color: var(--orange-erbaut);
    color: var(--black);
    border-radius: 10px 40px 40px ;
    text-transform: uppercase;
    font-size: 1rem;
}
.instagram .content{
    background-color: var(--black);
    width: 100%;

    margin-bottom: 5%;
}

.instagram .container{
    margin-left: 50%;
}

.partners{
    margin-bottom: 3%;
}
.partners .text-partners{
    text-align: center;
    margin: 3% 0;
}

.partners .text-partners h3{
    font-size: 35px;
}

.contact-form {
    position: relative;
    /* background-color: var(--orange-erbaut); */
    background-image: url('../images/insta-bg.jpg');
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    
}

.contact-form .form-field{
    text-align: center;
    line-height: 80px;
    margin-left: 15%;
}

.contact-form .form-field .form{
    line-height: 100px;
}
.contact-form .form-contact-us input{ 
    display: inline-block;
    width: 400px;
    border-radius: 5px 25px;    
}

.contact-form .form-contact-us a{
    border-radius: 5px;
}

.post-minimal-2 {
	max-width: 220px;
}

.post-minimal-2-title a, .post-minimal-2-title a:focus, .post-minimal-2-title a:active {
	color: var(--orange-erbaut);
}

.post-minimal-2-title a:hover {
	color: var(--blue-erbaut);
}

.post-minimal-2-time {
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	letter-spacing: .075em;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
	color: #151515;
}

* + .post-minimal-2 {
	margin-top: 24px;
}

* + .post-minimal-2-time {
	margin-top: 10px;
    color: var(--white);
}

.post-minimal-2 + .post-minimal-2 {
	margin-top: 26px;
}

.icon{
    color: var(--white);
    list-style-type: none;
    display: flex;
    margin-left: -25px;
    
}

.grid-icon-social-medias{
    margin-left: 25px;
    margin-top: -38%;
}
.social-medias a{
    margin: 20px 20px 0 0;
    font-size: 4rem;
}

.social-medias a:hover{
    color: var(--orange-erbaut);
    text-decoration: dashed;
}

.footer{
    background-color: var(--black);
}

.footer .row{
    margin-top: 5%;

}

.footer li{
    list-style-type: none;
}

.footer h6{
    color: var(--white);
    text-transform: none;
    font-size: 15px;
}

.footer .contact{
    margin: 25px;
}
.footer .contact a{
    margin-left:5px;
}

.footer .footer-links{
    display: inline-block;
    padding: 20px;
    margin-left: -20px;
    /*background-color: var(--black-fade);*/
    border-radius: 2%;
    text-align: left;
    
}

.footer .footer-links a, .button-decoration a{
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--white);
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    text-transform: none;
    position: relative;
    transition: all .35s;
  }
  
.footer .footer-links a, .button-decoration a span{
    position: relative;
    z-index: 2;
  }
  
.footer .footer-links a:after, .button-decoration a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--orange-erbaut);
    transition: all .35s;
  }
  
  
.footer .footer-links a:hover:after, .button-decoration a:hover:after{
    width: 100%;
  }


.footer .footer-links a:hover{
    /*padding: 5px;
    background-color: var(--black-fade);*/
    color: var(--white);
    text-decoration: dashed;
}
.footer .rights{
    margin-top: -30%;
    color: var(--white);
    text-transform: none;
}

.blue-button a{
    background-color: var(--blue-erbaut);
    color: var(--white);
    border-radius: 5px;
}
