/* IMPORTS */

/* VARIABLES */
:root{
    --main-color:#90ad75;
    --black:#13131a;
    --black-fade: #00000070;
    --black-max-fade:#00000063;
    --black-min-fade:#000000d1;
    --white: #fff;
    --bg:#030200;
    --orange-erbaut:#f17c08;
    --orange-fade: #f17c087b;
    --blue-erbaut: #0191b6;
    --blue-fade: #0192b6b4;
    --border:.1rem solid rgba(255,255,255,.3);
}

/* RESET */
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--white);
    border-radius: 5rem;
}

body{
    background-color: #13131a;
    /* background-image: url('../images/insta-bg.jpg'); */
}

.modal-content{
    background-color: #f17c08;
    margin-left: -20%;
    width: 800px;
    border-radius: 5px;
}
.modal-header{
    background-color: var(--white);
}

.modal-body{
    background-color: var(--blue-erbaut);
}
.modal-content video{
    width: 100%;
}

.header{ 
    position: fixed;
    width: 100%;
    top: 0; right: 0; left: 0;
    background-color: var(--orange-erbaut);
    transition: 0.5s;
}
.header.sticky{
    color: #fff;
    background:#000;
    height:60px;
    transition: 0.5s;
  }
.main-navbar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.01rem;
    height: 10px;
    z-index: -1000;
    
}

.main-navbar a{
    margin: 0 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #13131a;
}

.navbar-inferi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white);
    font-size: 2rem;
    height: 150px;
    /* margin-left: 10%; */
    /* display: none;                                     REMOVER DEPOIS */
}
.navbar-inferi img{
    position: absolute;
    width: 250px;
    transform: translate(-100%, -20%);
    margin-left: -40%;
}

.navbar-inferi .collapse { 
    transform: translate(80%, 20%);
}

.navbar-inferi .collapse .nav-link{
    font-size: 14px;
    color: var(--black);
    margin-left: 40px;
    text-transform: uppercase;
}
.navbar-inferi .collapse .nav-link:hover{
    background: var(--orange);
    color: var(--white);
    border-radius: 3%;
}

.navbar-mobile{
    display: none;
    position: fixed;
}

.home{
    margin-top: 110px;
    min-height: 90vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    /* display: none;                                     REMOVER DEPOIS */
}

.home .content{
    /* background-color: ; */
    margin-top: 8%;
    height: 640px;
    width: 1280px;
    /* max-width: 90%; */
    /* padding: 20px; */
    text-align: center;
    border-radius: 1%;
    font-weight: 900;
    font-family: 'Anton', sans-serif;
}

.home .content h3{
    background-color: #00000040;
    border-radius: 5px 10px 10px ;
    font-size: 6rem;
    text-transform: none;
    color:var(--white);
    padding: 20px; 
}

.home .subtext-button{
    border-radius: 5px 10px 10px ;
    background-color: #00000000;
    transform: translate(90%, 50%);
    width: 50%;
}
.home .content p{
    font-size: 2.2rem;
    font-weight: lighter;
    text-align: center;
    line-height: 1.8;
    padding:1rem 0;
    color:var(--white);    
    text-transform: none;
}

.home a{
    font-size: 20px;
    width: 70%;
}
.home a:hover{
    background-color: var(--blue-erbaut);
    color: var(--white);
}

#header{
    z-index: 1000;
}

.solutions{
    text-align: center;
    margin-top: 5%;
    /* display: none;                                                REMOVER DEPOIS */
}

.solutions .solutions-text{
    font-family: Arial, Helvetica, sans-serif;
}

.solutions .solutions-text h3{
    color: var(--blue-erbaut);
    font-weight: 700;
    font-size: 35px;    
    text-transform: uppercase;
}

.solutions .solutions-text p,
.solutions .solutions-text b{
    text-transform: none;
    font-size: 18px;
}

.solutions .box-container{
    display: inline-flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin: 50px;
}

.solutions .box-container .box{
    height: 600px;
    width: 350px;
    text-align: center;
    border:var(--border);
    padding: 5rem;
    background-color: var(--black-min-fade);
    border-radius: 5%;
    /* border-width: 10px; */
    
}
.solutions .box-container .box .box-header{
    height: 450px;
}
.solutions .box-container .box .image{
    padding: .5rem 0;
    background-color: var(--orange-erbaut);
    border-radius: 15px;
}

.solutions .box-container .box .image img{
    height: 15rem;
}

.solutions .box-container .box .content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.solutions .box-container .box .content h3{
    color: var(--white);
    font-size: 2.5rem;
}

.solutions .box-container .box .content .list{
    color: var(--white);
    font-weight: 600;
    font-size: 1.7rem;
    text-align: left;
    margin-top: 25px;
}

.solutions .box-container .box .content .list li{
    text-transform: none;
    list-style: square;
}

.solutions .box-container .box .box-footer{
    transform: translate(0, 100%);
}
.solutions .box-container .box .box-footer a{
    margin-top: 0;
    background-color: var(--orange-erbaut);
    color: var(--black);
    border-radius: 10px 40px 40px ;
    text-transform: uppercase;
    font-size: 1.4rem;
    width: 100%;
    
}

.solutions .box-container .box .box-footer a:hover{
    background-color: var(--blue-fade);
    color: var(--white);
}

.instagram{
    position: relative;
    /* display: none;                                                REMOVER DEPOIS */
}

.instagram .text-content{
    position: absolute;
    text-align: left;
    color: var(--white);
    width: 30%;
    top: 35%;
    left: 15%;
}

.instagram .text-content a{
    background-color: var(--orange-erbaut);
    color: var(--black);
    border-radius: 10px 40px 40px ;
    text-transform: uppercase;
    font-size: 1rem;
}
.instagram .content{
    background-color: #000;
    width: 100%;
    margin-bottom: 3%;
}

.instagram .container{
    margin-left: 26,5%;
}

.partners{
    margin-bottom: 3%;
}
.partners .text-partners{
    text-align: center;
    margin: 3% 0;
}

.partners .text-partners h3{
    color: var(--blue-erbaut);
    font-weight: 600;
    font-size: 35px;
}

.contact-form {
    position: relative;
    /* background-color: var(--orange-erbaut); */
    background-image: url('../images/insta-bg.jpg');
    background-size: cover;
    max-height: 65vh;
    width: 100%;   
    padding: 20px;
}

.contact-form h3{
    color: var(--blue-erbaut);
    background-color: var(--black-max-fade);
    text-transform: none;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;    
}

.contact-form .form-field{
    text-align: center;
    line-height: 70px;
}
.contact-form .form-field .map{
    position: relative;
    justify-content: center;
    margin-left: 40%;
    width: 50%;
    transform: translate(0%, -50%);
}


.contact-form .form-contact-us{
    margin-top: 100px;
    transform: translate(-20%, 0%);
}

.contact-form .form-contact-us .logo-image{
    background-color: #ffffff41;    
}
.contact-form .form-contact-us input{ 
    display: inline-block;
    width: 300px;
    border-radius: 5px 25px;    
}

.contact-form .form-contact-us a{
    border-radius: 5px;
}

.post-minimal-2 {
	max-width: 220px;
}

.post-minimal-2-title a, .post-minimal-2-title a:focus, .post-minimal-2-title a:active {
	color: var(--orange-erbaut);
}

.post-minimal-2-title a:hover {
	color: var(--blue-erbaut);
}

.post-minimal-2-time {
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	letter-spacing: .075em;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
	color: #151515;
}

* + .post-minimal-2 {
	margin-top: 24px;
}

* + .post-minimal-2-time {
	margin-top: 10px;
    color: var(--white);
}

.post-minimal-2 + .post-minimal-2 {
	margin-top: 26px;
}

.icon{
    color: var(--white);
    list-style-type: none;
    display: flex;
    margin-left: -25px;
    
}

.grid-icon-social-medias{
    margin-left: 25px;
    margin-top: -38%;
}
.social-medias a{
    margin: 20px 20px 0 0;
    font-size: 4rem;
}

.social-medias a:hover{
    color: var(--orange-erbaut);
    text-decoration: dashed;
}

.footer{
    background-color: var(--black);
}

.footer .row{
    margin-top: 5%;

}

.footer li{
    list-style-type: none;
}

.footer h6{
    color: var(--white);
    text-transform: none;
    font-size: 15px;
}

.footer .contact{
    margin: 25px;
}
.footer .contact a{
    margin-left:5px;
}

.footer .footer-links{
    display: inline-block;
    padding: 20px;
    margin-left: -20px;
    /*background-color: var(--black-fade);*/
    border-radius: 2%;
    text-align: left;
    
}

.footer .footer-links a, .button-decoration a{
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--white);
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    text-transform: none;
    position: relative;
    transition: all .35s;
  }
  
.footer .footer-links a, .button-decoration a span{
    position: relative;
    z-index: 2;
  }
  
.footer .footer-links a:after, .button-decoration a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--orange-erbaut);
    transition: all 1.35s;
  }
  
  
.footer .footer-links a:hover:after, .button-decoration a:hover:after{
    width: 100%;
    
  }


.footer .footer-links a:hover{
    /*padding: 5px;
    background-color: var(--black-fade);*/
    color: var(--white);
    text-decoration: dashed;
}
.footer .rights{
    margin-top: -30%;
    color: var(--white);
    text-transform: none;
}

.blue-button{
    background-color: var(--blue-erbaut);
    color: var(--white);
    border-radius: 5px;
}

.button-style a{
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 500;
    background-color: var(--orange-erbaut);
    color: var(--black);
    border-radius: 5px 40px 40px ;
}
.button-style a:hover{
    background-color: var(--blue-erbaut);
    color: var(--white);
    text-decoration: none;
}
